<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Essential Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name=".CloudinaryManager"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneX">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registered All App Activities -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".StudentDashboardActivity" />
        <activity android:name=".MentorDashboardActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".TopicApprovalActivity" />
        <activity android:name=".LogbookActivity" />
        <activity android:name=".ReviewEvaluationActivity" />
        <activity android:name=".MyMarksActivity" />
        <activity android:name=".AddLogActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ProjectTimelineActivity" />
        <activity android:name=".DocumentsActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".PlagiarismActivity" />
        <activity android:name=".MeetingsActivity" />
        <activity android:name=".RubricManagementActivity" />
        <activity android:name=".AnalyticsActivity" />
        <activity android:name=".GroupCreationActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SupportActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".ManageGroupsActivity" />
        <activity android:name=".GroupViewActivity" />
        <activity android:name=".ManageMentorsActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".LogbookDetailsActivity" />

    </application>

</manifest>